.browse-folder {
    width: 200px;
    height: 175px;
    margin: 10px;
    z-index: 2;
    cursor: pointer;
    transition: 200ms ease;
    background: url(./folder.svg), none;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
        transform: translateY(-2px);
    }

    svg {
        position: absolute;
        z-index: -1;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .top {
            position: relative;
            .delete {
                background: url(./Delete.svg), none;
                position: absolute;
                top: 5px;
                right: 5px;
                width: 20px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
                z-index: 3;
            }
            .path {
                padding: 30px 50px 0px 15px;
                font-size: 0.9rem;
            }
            .input-rename{
                border: none;
                background-color: transparent;
                outline: none;
                font-family: "Bold";
                line-height: 1.3;
                max-width: 160px;
                font-size: 1.2rem;
                padding: 0 15px;
                height: 100%;
                resize: none;
                overflow: auto;
            }
            .name {
                font-family: "Bold";
                font-size: 1.2rem;
                padding: 0px 15px;
                max-width: 160px;
                min-width: 0;
                line-height: 1.3;
                display: inline-block;
                .rename-tick{
                    display: inline-block;
                    background: url(./edit.svg), none;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 20px;
                    width: 20px;
                    margin-left: 5px;
                    vertical-align: middle;
                    transform: translateY(-2px);
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;
                }
            }
            .name:hover .rename-tick {opacity: 1;}
        }
        .top:hover .delete {
            opacity: 1;
        }
        .bottom {
            width: 100%;
            text-align: right;
            display: flex;
            justify-content: right;
            .subject {
                width: 85%;
                text-align: right;
                padding: 0px 15px 20px 0px;
                font-family: "Bold";
                font-size: 1.2rem;
                color: rgba(80, 80, 80, 0.5);
            }
        }
    }
}
