.semCard {
    padding: 7px;
    background-color: #fecf6f;
    width: 150px;
    color: white;
    height: 112px;
    color: black;

    .inner1 {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;

        .inputSem {
            background: none;
            font-family: "Bold";
            font-size: 1.8rem;
            border: none;
            color: black;
            width: auto;
        }

        .inputSem:focus {
            outline: none;
            border: none;
            border-bottom: 2px solid black;
        }

        .tickSvg {
            width: 2rem;
            height: 100%;
            align-items: center;
            background-image: url("../Assets/tickdark.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .editSvg {
            width: 2rem;
            height: 100%;
            background-image: url("../Assets/edit.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .inputDiv {
            justify-content: center;
            width: 2rem;
            height: 100%;
            display: flex;
            font-family: "Bold";
            font-size: 1.8rem;
            align-items: flex-end;
            margin-bottom: -5px;
        }
    }

    .inner2 {
        width: 100%;
        height: 50%;
        font-family: "Regular";
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 768px) {
        width: 130px;
        height: 105px;
        padding: 6px;

        .inner1 {
            .inputDiv {
                font-size: 1.6rem;
                width: 1.9rem;
            }

            .tickSvg,
            .editSvg {
                width: 1.8rem;
            }
        }

        .inner2 {
            font-size: 1.2rem;
        }
    }

    @media screen and (max-width: 480px) {
        width: 110px;
        height: 95px;
        padding: 5px;

        .inner1 {
            .inputDiv {
                font-size: 1.4rem;
                width: 1.7rem;
            }

            .tickSvg,
            .editSvg {
                width: 1.6rem;
            }
        }

        .inner2 {
            font-size: 1.1rem;
        }
    }

    @media screen and (max-width: 360px) {
        width: 100px;
        height: 85px;
        padding: 4px;

        .inner1 {
            .inputDiv {
                font-size: 1.2rem;
                width: 1.5rem;
            }

            .tickSvg,
            .editSvg {
                width: 1.4rem;
            }
        }

        .inner2 {
            font-size: 1rem;
        }
    }
}
