.heading{
    font-family: "Regular";
    font-size: 2.5rem;
    font-weight: normal;    
    &.bold{
        font-family: 'Bold';
    }
    &.thin{
        font-family: 'Light';
    }
    &.light{
        color: #fff;
    }
    
    @media screen and (max-width: 768px) {
        font-size: 2rem;
    }
    
    @media screen and (max-width: 480px) {
        font-size: 1.5rem;
    }
}