.subheading{
    font-family: 'Regular';
    font-size: 1.5rem;
    &.bold{
        font-family: 'Bold';
    }
    &.thin{
        font-family: 'Light';
    }
    &.light{
        color: #fff;
    }
    &.center{
        text-align: center;
    }
    
    @media screen and (max-width: 768px) {
        font-size: 1.2rem;
    }
    
    @media screen and (max-width: 480px) {
        font-size: 1rem;
    }
}