.subheading {
    font-family: "Regular";
    font-size: 1.5rem;
    margin: 0;

    &.bold {
        font-family: "Bold";
    }
    &.thin {
        font-family: "Light";
    }
    &.light {
        color: #fff;
    }
    &.center {
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        font-size: 1.3rem;
        line-height: 1.3;
    }

    @media screen and (max-width: 480px) {
        font-size: 1.1rem;
        line-height: 1.2;
    }

    @media screen and (max-width: 360px) {
        font-size: 1rem;
    }
}
