.exam-card {
    width: 250px;
    height: 150px;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 5px;
    flex-shrink: 0;

    justify-content: space-around;
    .ndays {
        p {
            font-size: 3.5rem;
        }
    }
    .name {
        text-align: right;
    }

    @media screen and (max-width: 768px) {
        width: calc(50% - 10px);
        min-width: 180px;
        height: 130px;
        margin: 5px;
        padding: 8px 15px;

        .ndays p {
            font-size: 2.8rem;
        }

        .name {
            font-size: 0.9rem;
        }
    }

    @media screen and (max-width: 680px) {
        margin-left: 0;
        margin-right: 0;
        width: calc(50% - 8px);
        min-width: 160px;
        height: 120px;
        margin: 4px;

        .ndays p {
            font-size: 2.5rem;
        }
    }

    @media screen and (max-width: 480px) {
        width: calc(50% - 6px);
        min-width: 140px;
        height: 110px;
        margin: 3px;
        padding: 6px 12px;

        .ndays p {
            font-size: 2.2rem;
        }

        .name {
            font-size: 0.8rem;
        }
    }

    @media screen and (max-width: 360px) {
        width: calc(50% - 4px);
        min-width: 120px;
        height: 100px;
        margin: 2px;
        padding: 5px 10px;

        .ndays p {
            font-size: 2rem;
        }

        .name {
            font-size: 0.75rem;
        }
    }
}
