.front_banner {

    position: relative;
    height: 45vh;
    background-size: cover;
    background-image: url('./Assets/banner.svg');
    background-position-x: 85%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 5vh;

    .banner_text {
        color: white;
        width: 100%;
        margin-left: 0;

        display: flex;
        justify-content: space-between;
        align-items: start;

        .sub_head {
            margin-bottom: 20px;

            span {
                margin-left: 0;
                color: white;
                font-family: 'Bold';
                font-size: 1.5rem;
            }
        }

        .branch {
            font-size: xx-large;
        }

        header {
            color: white;
            font-family: 'Bold';
            font-size: 3rem;
            display: flex;
            align-items: center;

            .inputName {
                background: none;
                border: none;
                color: white;
                font-family: 'Bold';
                font-size: 3rem;
                width: 25rem;
            }

            .inputName:focus {
                outline: none;
                border: none;
                border-bottom: 2px solid #CACACA;
            }

            .tickDiv {
                height: 2rem;
                margin-left: 1rem;
                width: 2rem;
                background-image: url('./Assets/tick.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            .editDiv {
                margin-left: 1rem;
                height: 2rem;
                width: 2rem;
                background-image: url('./Assets/editL.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

        }
    }
}

@media screen and (max-width:1182px) {
    .inputName {
        background: none;
        border: none;
        color: white;
        font-family: 'Bold';
        font-size: 4rem;
        width: 30rem;
    }

    .front_banner {
        background: none;
    }
}

@media screen and (max-width:1300px) {
    .branch {
        max-width: 500px;
    }
}

@media screen and (max-width: 768px) {
    .front_banner {
        height: auto;
        min-height: 35vh;
        padding-top: 3vh;
        
        .banner_text {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            
            .sub_head span {
                font-size: 1.2rem;
            }
            
            header {
                font-size: 2rem;
                
                .inputName {
                    font-size: 2rem;
                    width: 100%;
                    max-width: 20rem;
                }
                
                .tickDiv {
                    height: 1.5rem;
                    width: 1.5rem;
                    margin-left: 0.8rem;
                }
                
                .editDiv {
                    height: 1.5rem;
                    width: 1.5rem;
                    margin-left: 0.8rem;
                }
            }
            
            .branch {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .front_banner {
        .banner_text {
            header {
                font-size: 1.5rem;
                
                .inputName {
                    font-size: 1.5rem;
                    max-width: 15rem;
                }
                
                .tickDiv {
                    height: 1.2rem;
                    width: 1.2rem;
                    margin-left: 0.6rem;
                }
                
                .editDiv {
                    height: 1.2rem;
                    width: 1.2rem;
                    margin-left: 0.6rem;
                }
            }
            
            .branch {
                font-size: 1.2rem;
            }
        }
    }
}