.c_content {
    height: auto;
    font-family: "Regular";
    padding-top: 0px;

    .sub_head {
        margin: 30px 0px;
    }

    .br-contrib-subheading {
        text-align: center;
        margin: 0.3em 0 2.5em 0;
    }

    .No-Contri-graphic {

        width: 100%;
        height: 350px;
        background: url(./No-Contri-graphic.svg);
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 32px;
        background-size: contain;


    }

    .main {
        padding: 10px;
    }
}