.main_card {
    background-color: #FECF6F;
    font-family: 'Regular';
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .br_btn {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .approve{
        border: 3px solid rgb(108, 177, 108);
    }
    .delete{
        border: 3px solid rgb(215, 121, 121);
    }

    .file-link{
        text-decoration: none;
        color: black;
    }
    .file-link:hover{
        color:blue;
    }

    .path {
        display: flex;
        flex-direction: column;
        width: 30%;

        :nth-child(1) {
            font-family: 'Regular';
            font-size: 1.2rem;
            margin-bottom: 6px;
            white-space: pre-wrap;
        }

        :nth-child(2) {
            font-family: 'Bold';
            font-size: 1.2rem;
        }
    }

    .content {

        justify-content: start;
        align-self: flex-start;
        width: 50%;
        margin: 0px 8px 0px 8px;
    }

}

@media screen and (max-width:600px) {
    .main_card {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .path {
            width: 100%;
            margin-bottom: 10px;
        }

        .content {
            width: 100%;
            margin: 0px 4px 30px 4px;

        }

        .btn {
            align-self: center;
        }
    }
}

@media screen and (max-width:760px) {
    .main_card {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .path {
            width: 100%;
            margin-bottom: 10px;
        }

        .content {
            width: 100%;
            margin: 0px 4px 30px 4px;

        }

        .btn {
            align-self: center;
        }

    }

}